/*
   If you are changing the location of these files,
   see the readme in this directory for more detail on manual steps to take when uploading new files.
 */
#codeWorkspace {
  border: none !important;
}

button {
  padding: 1.5% 3%;
}
button:active {
  border: none !important;
}

#pondTextMarkdown p {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

#pondTextMarkdown strong {
  font-family: "Metropolis", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #eb5757;
}

#pondTextMarkdown em {
  font-family: "Metropolis", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #56c568;
}