@charset "UTF-8";
.json_editor button {
  font-size: 100%;
}
.json_editor .required:after {
  content: " *";
  color: #f00;
}
.json_editor .json_template {
  display: none;
}

.contract-editor-config td {
  text-align: center;
}

table.checkboxes td,
table.checkboxes th {
  padding: 0 0.5em;
  vertical-align: top;
}
table.checkboxes label {
  font-size: 13px;
  font-weight: bold;
}

#grid .label {
  background-color: black;
}
#grid .border {
  background-color: dimgray !important;
}
#grid .path {
  background-color: darkgreen !important;
}
#grid .start {
  background-color: firebrick !important;
}
#grid .end {
  background-color: lime !important;
}
#grid .obstacle {
  background-color: gold !important;
}
#grid .dirt {
  background-color: #d1d567 !important;
}
#grid .conditional {
  background-color: green !important;
}
#grid td {
  width: 40px;
  border: 1px solid #ccc;
  padding: 0 4px 0 4px;
  vertical-align: top;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
#grid td.highlighted {
  border-color: yellow;
}
#grid td.selected {
  border-color: cyan;
}
#grid td.start {
  background-image: url("/blockly/media/skins/birds/small_static_avatar.png");
  background-size: 100% 100%;
}
#grid td.end {
  background-image: url("/blockly/media/skins/birds/goal.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#grid td.obstacle {
  background-image: url("/blockly/media/skins/birds/obstacle.png");
  background-size: 100% 100%;
}
#grid td.dirt {
  background-image: url("/blockly/media/skins/farmer/dirt.png");
  background-size: 1100px 100%;
}
#grid td.conditional {
  background-size: 100% 100%;
}
#grid td.flower {
  background-image: url("/blockly/media/skins/bee/redFlower.png");
}
#grid td.hive {
  background-image: url("/blockly/media/skins/bee/honey.png");
}
#grid td.flower-or-nothing {
  background-image: url("/levelbuilder/flower-or-nothing.png");
}
#grid td.hive-or-nothing {
  background-image: url("/levelbuilder/hive-or-nothing.png");
}
#grid td.flower-or-hive {
  background-image: url("/levelbuilder/hive-or-flower.png");
}
#grid td.flower-hive-or-nothing {
  background-image: url("/levelbuilder/flower-hive-or-nothing.png");
}
#grid td.playlab.none {
  background-color: #e7e8ea !important;
}
#grid td.playlab.goal {
  background-color: #b9bf15 !important;
  background-image: url("/blockly/media/skins/studio/goal.png");
  background-size: contain;
  background-position: center;
}
#grid td.playlab.sprite {
  background-color: #0094ca !important;
  background-size: 1200% 100%;
}
#grid tr {
  height: 40px;
}
#grid .htInvalid {
  background-color: orangered !important;
}
#grid .htNumeric {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
#grid table {
  border-collapse: separate;
  table-layout: fixed;
  width: 0;
}

.block-editor-container {
  display: flex;
}
.block-editor-container .editor {
  flex: 1;
  padding: 5px;
}
.block-editor-container .block-preview {
  flex: 1;
  padding: 5px;
}
.block-editor-container .block-preview #blockly-container {
  height: 300px;
}
.block-editor-container .block-preview code {
  padding: 3px;
}

.collapse {
  padding-left: 10px;
}

[data-toggle=collapse] {
  cursor: pointer;
  padding: 15px;
  padding-left: 0;
  line-height: 18px;
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid #e5e5e5;
}
[data-toggle=collapse]:after {
  content: "▲";
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin-left: 10px;
}
[data-toggle=collapse].collapsed:after {
  content: "▼";
}

.aligned-input-group {
  padding-top: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.aligned-input-group label {
  padding-left: 8px;
}
.aligned-input-group input:disabled ~ label {
  cursor: not-allowed;
  color: #6c757d;
}

.collapsed_area_header {
  font-size: 1.5em;
}

#audit_log_info {
  padding-top: 2%;
}

.audit_log {
  width: 100%;
}
.audit_log tr:nth-child(odd) {
  background-color: #f9cb81;
}
.audit_log td {
  padding: 2%;
}
.audit_log .aud_date {
  width: 25%;
}
.audit_log .aud_person {
  width: 43%;
}

.levelTypeHeader {
  font-weight: bold;
  padding: 2% 2% 2% 0%;
}